body {
    background-image: url('bg2.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
    color: antiquewhite;
    font: 1em sans-serif;
}
.card {
    max-width: 200px;
}
.draggable {
    /* Indicate the element draggable */
    cursor: move;
    /* It will be positioned absolutely */
    position: absolute;
    /* Doesn't allow to select the content inside */
    user-select: none;
}
div#main {
    padding: 1em 2em;
}
a { 
    color: aliceblue;
}